<form-input
  [(value)]="value"
  [label]="label()"
  [placeholder]="placeholder()"
  [type]="showPassword() ? 'text' : 'password'"
  [icon]="icon()"
  [errors]="errors()"
  [touched]="touched()"
  [disabled]="disabled()"
  (touch)="touch.emit()">
  <button
    type="button"
    class="btn btn-ghost btn-xs btn-circle"
    [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
    (click)="togglePasswordVisibility()">
    <i class="fa-solid" [class.fa-eye]="!showPassword()" [class.fa-eye-slash]="showPassword()"></i>
  </button>
</form-input>

@if (showStrengthPanel()) {
  <app-password-strength [password]="value()" />
}
