<h1>Discover Our Collection</h1>
<h2>Find something for every taste</h2>


<div class="card bg-base-300 w-96 shadow-sm">
  <figure>
    <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Featured product" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Featured Product</h2>
    <p>Versatile, comfortable design — quality and style for your everyday life.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
