@import "tailwindcss";

@plugin "daisyui" {
  themes: caramellatte --default, coffee --prefersdark;
}

@theme {

  /* Definimos los keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Creamos la utilidad de animación */
  --animate-fadeIn: fadeIn 0.5s ease-in-out;
}
